/* Colors */
.login-container {
     --green-seaweed: rgba(2, 128, 144, 1);
     --blue-queen: rgba(69, 105, 144, 1);
     --red-fire: rgba(244, 91, 105, 1);
}

/* Fonts */
.login-container body {
     font-family: 'Asap', sans-serif;
}

/* Login Form */
.login-container .login {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 400px;
     padding: 40px 30px 30px 30px;
     border-radius: 10px;
     background-color: white;
     overflow: hidden;
     box-shadow: 5px 10px 10px rgba(var(--green-seaweed), 0.2);
     transition: transform 300ms, box-shadow 300ms;
}

.login-container .login::before,
.login-container .login::after {
     content: '';
     position: absolute;
     z-index: -1;
}

.login-container .login::before {
     left: 40%;
     bottom: -130%;
     width: 600px;
     height: 600px;
     background-color: rgba(var(--blue-queen), 0.15);
     border-top-left-radius: 40%;
     border-top-right-radius: 45%;
     border-bottom-left-radius: 35%;
     border-bottom-right-radius: 40%;
     animation: waves 6s infinite linear;
}

.login-container .login::after {
     left: 35%;
     bottom: -125%;
     width: 600px;
     height: 600px;
     background-color: rgba(var(--green-seaweed), 0.2);
     border-top-left-radius: 40%;
     border-top-right-radius: 45%;
     border-bottom-left-radius: 35%;
     border-bottom-right-radius: 40%;
     animation: waves 7s infinite;
}

.login-container .login>input {
     display: block;
     width: 100%;
     padding: 10px;
     margin: 15px 0;
     font-size: 16px;
     font-family: 'Asap', sans-serif;
     border-radius: 5px;
     border: none;
     background-color: white;
}

.login-container .login>button {
     width: 80px;
     margin-top: 10px;
     margin-left: -5px;
     padding: 10px 0;
     border-radius: 5px;
     border: none;
     background-color: var(--red-fire);
     color: white;
     font-size: 16px;
     font-family: 'Asap', sans-serif;
     text-transform: uppercase;
     cursor: pointer;
     transition: background-color 300ms;
}

.login-container .login>button:hover {
     background-color: darken(var(--red-fire), 5%);
}

/* Waves Animation */
.login-container {@keyframes waves {
     from {
          transform: rotate(0);
     }

     to {
          transform: rotate(360deg);
     }
}}

/* Link */
.login-container a {
     position: absolute;
     right: 10px;
     bottom: 10px;
     font-size: 12px;
     color: rgba(255, 255, 255, 0.6);
     text-decoration: none;
}