/* Style pour le conteneur principal */
.pertecontainer div {
  background-color: #222;
  color: #fff;
  padding: 20px;
  border: none;
}

/* Style pour les titres de niveau 2 et 3 */
.pertecontainer h2, .pertecontainer h3 {
  color: #dd4444;
}

/* Style pour les paragraphes */
.pertecontainer p {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Style pour les listes à puces et numérotées */
.pertecontainer ul, .pertecontainer ol {
  margin-left: 20px;
}

/* Style pour les éléments de liste */
.pertecontainer li {
  margin: 5px 0;
}

/* Style pour les liens */
.pertecontainer a {
  color: #dd4444;
  text-decoration: none;
}