/* Style pour le conteneur principal */
.remiseform div {
  background-color: #222;
  color: #fff;
  padding: 20px;
  border: none;
}

/* Style pour les titres de niveau 2 et 3 */
.remiseform h2,.remiseform h3 {
  color: #dd4444;
}

/* Style pour les paragraphes */
.remiseform p {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Style pour les listes à puces et numérotées */
.remiseform ul,.remiseform ol {
  margin-left: 20px;
}

/* Style pour les éléments de liste */
.remiseform li {
  margin: 5px 0;
}

/* Style pour les liens */
.remiseform a {
  color: #dd4444;
}

/* Style pour les liens */
 .remiseform a {
    color: #dd4444;
    text-decoration: none;
  }